<app-menu></app-menu>
<ion-content>
  <h1 style="text-align: center">CONTACTO</h1>
  <ion-grid>
    <div class="ion-text-center">
      <p>Puedes comunicarte conmigo por correo:</p>
    </div>


      <ion-row class="ion-justify-content-center" >
        <ion-col size-sm="12" size-md="6" >
          <ion-card style=" border: 1px solid white; margin: 20px">
            <div class="ion-text-center ion-margin">
              <h2 style="color: #ffffff; margin: 25px">Correo</h2>
              <h3 style="color: #ffffff; margin: 25px">
                <ion-icon name="mail-outline"></ion-icon>

                &nbsp;&nbsp;&nbsp;caicaza.ec@gmail.com</h3>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>


    <div class="container" style="height: 35px">
    </div>


    <div class="ion-text-center">
      <p>O a través del siguiente número telefónico:</p>
    </div>


    <ion-row class="ion-justify-content-center" >
      <ion-col size-sm="12" size-md="6" >
        <ion-card style=" border: 1px solid white; margin: 20px">
          <div class="ion-text-center ion-margin">
            <h2 style="color: #ffffff; margin: 25px">
              Teléfono
            </h2>
            <h3 style="color: #ffffff; margin: 25px">
              <ion-icon name="call"></ion-icon>
              &nbsp;&nbsp;&nbsp;+593 99 535 7576
            </h3>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
