<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title style="font-family: BrushScriptStdMedium; font-size: 40px">
      ca icaza
    </ion-title>
    <!--    botones-->
    <ion-buttons slot="secondary">
      <ion-button routerLink="/home" >
        Inicio
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/contacto" >
        Contacto
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/experiencia" >
        Experiencia
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>
