<app-menu></app-menu>

<ion-content>
  <h1 style="text-align: center">EXPERIENCIA</h1>
  <ion-grid>
<!--    parte 1-->
<!--    CARD-->
    <ion-card style=" border: 1px solid white; margin: 30px">
      <div class="ion-margin">
        <ion-grid>

          <ion-row class="ion-align-items-center">

            <ion-col size="12" size-sm>
              <div class="container" style="margin: 20px">
                <h2 >Universidad Central del Ecuador - Tesista</h2>
                <p style="color: #cccccc">{{fecha1}}</p>
                <p>{{text1}} </p>
                <p>{{text2}} </p>
                <p>{{text3}} </p>


                  <div class="container">
                    <ion-item style="--ion-background-color: rgba(255,255,255,0)">
                      <ion-button  size="medium" href="http://www.dspace.uce.edu.ec/handle/25000/23890" target="_blank" slot="end">Tesis de grado</ion-button>
                    </ion-item>

                  </div>







              </div>
<!--IMAGEN-->
            </ion-col>
            <ion-col size="12" size-md>
              <img src="../../assets/img/img_tesis.jpg">
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
    </ion-card>

    <!--    parte 2-->
    <!--    CARD-->
    <ion-card style=" border: 1px solid white; margin: 30px">
      <div class="ion-margin">
        <ion-grid>

          <ion-row class="ion-align-items-center">

            <ion-col size="12" size-sm>
              <div class="container" style="margin: 20px">
                <h2 >AHCII Universidad Central del Ecuador - Coordinador</h2>
                <p style="color: #cccccc">{{fecha2}}</p>
                <p>{{text4}} </p>
                <p>{{text5}} </p>
                <p>{{text6}} </p>
                <ion-button end size="medium" href="http://bibliogaleria.uce.edu.ec/" target="_blank">Paseo virtual AHCII</ion-button>

              </div>
              <!--IMAGEN-->
            </ion-col>
            <ion-col size="12" size-md>
              <img src="../../assets/img/img2_ahcii.jpg">
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
    </ion-card>

    <!--    parte 3-->
    <!--    CARD-->
    <ion-card style=" border: 1px solid white; margin: 30px">
      <div class="ion-margin">
        <ion-grid>

          <ion-row class="ion-align-items-center">

            <ion-col size="12" size-sm>
              <div class="container" style="margin: 20px">
                <h2 >Centro de Física Universidad Central del Ecuador - Artista Digital</h2>
                <p style="color: #cccccc">{{fecha3}}</p>
                <p>{{text7}} </p>

                <ion-button end size="medium" href="http://virtuallab.sit-lp.net/" target="_blank">Paseo virtual Centro de Física</ion-button>

              </div>
              <!--IMAGEN-->
            </ion-col>
            <ion-col size="12" size-md>
              <img src="../../assets/img/img_centro%20de%20fisica.jpg" >
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
    </ion-card>


  </ion-grid>
</ion-content>

